a, a:hover {
  cursor: pointer;
  text-decoration: underline;
}
h1, h2, h3, h4, h5, h6, .wbw {
  word-break: break-word;
  word-wrap: break-word;
}
.ff-custom {
  font-family: 'Audiowide', cursive;
}
.site-icon > svg {
  width: 48px;
  height: 48px;
}
.has-bg-img {
  background: url('../images/hero.jpg') center center;
  background-size: cover;
}
.has-background-hero {
  background-color: rgba(181,181,181,0.85);
}
.icon-down-wrapper {
  position: fixed;
  bottom: 0;
  z-index: 999;
  text-align: center;
  width: 100%;
}
.icon-up-wrapper {
  position: fixed;
  bottom: 0;
  z-index: 999;
  text-align: center;
  width: 100%;
}