@import url(https://fonts.googleapis.com/css?family=Audiowide:400);
@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);

html, body {
  height: auto;
  min-height: 100vh;
}
body {
  color: #232323;
  position: relative;
  font-style: normal;
  line-height: 1.5;
}
section {
  background-color: #eeeeee;
}
section, .container {
  position: relative;
  word-wrap: break-word;
}
a {
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}
a, a:hover {
  color: #149dcc;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .display-2, .display-3 {
  line-height: 1;
  word-break: break-word;
  word-wrap: break-word;
}

/*! Media  */
.media-container-row {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
}
@media (min-width: 992px) {
  .media-container-row {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
.sf-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
.sf-fullscreen {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  align-items: center;
  -webkit-align-items: center;
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.sf-fullscreen .sf-overlay {
  min-height: 100vh;
}
/*! Scroll to top arrow */
.mbr-arrow-up {
  bottom: 25px;
  right: 90px;
  position: fixed;
  text-align: right;
  z-index: 5000;
  color: #ffffff;
  font-size: 32px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.mbr-arrow-up a {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  height: 60px;
  width: 60px;
  outline-style: none !important;
  position: relative;
  text-decoration: none;
  transition: all .3s ease-in-out;
  cursor: pointer;
  text-align: center;
}
.mbr-arrow-up a:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.mbr-arrow-up a i {
  line-height: 60px;
}

@media (max-width: 500px) {
  .mbr-arrow-up {
    left: 50%;
    right: auto;
    transform: translateX(-50%) rotate(180deg);
    -webkit-transform: translateX(-50%) rotate(180deg);
  }
}

.sf-section-subtitle {
  line-height: 1.3;
}
.sf-text {
  font-style: normal;
  line-height: 1.6;
}
.display-2 {
  font-family: 'Audiowide', display;
  font-size: 3rem;
}
.display-5 {
  font-family: 'Audiowide', display;
  font-size: 1.5rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}
.display-8 {
  font-family: 'Audiowide', sans-serif;
  font-size: 1rem;
}
@media (max-width: 768px) {
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  transform: rotate(135deg);
}
/* Others*/
#sf-sec001 > div.sf-overlay {
  opacity: 0.5;
  background-color: rgb(20, 157, 204);
}
/*#sf-sec002 {
  padding-top: 90px;
  padding-bottom: 90px;
}
#sf-sec002 > div.sf-overlay {
  opacity: 0.6;
  background-color: rgb(255, 255, 255);
}
#sf-sec002 .sf-section-subtitle {
  color: #232323;
  text-align: center;
  font-weight: 300;
}
#sf-sec002 .timeline-text-content {
  padding: 2rem 2.5rem;
  background: #ffffff;
  margin-right: 2rem;
  transition: all .4s;
}
#sf-sec002 .timeline-text-content p {
  margin-bottom: 0;
}
#sf-sec002 .timeline-element {
  margin-bottom: 50px;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
#sf-sec002 .timeline-element:hover .timeline-text-content {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
#sf-sec002 .reverse {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
#sf-sec002 .reverse .timeline-text-content {
  margin-left: 2rem;
  margin-right: 0;
}
#sf-sec002 .iconsBackground {
  position: absolute;
  left: 50%;
  width: 60px;
  height: 60px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  background-color: #ffffff;
  top: 20px;
  margin-left: -30px;
}
#sf-sec002 span.iconsBackground > span {
  position: absolute;
  text-align: center;
  display: inline-block;
  z-index: 3;
  top: 13px;
  left: 13px;
}
#sf-sec002 .separline:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #ffffff;
  left: calc(50% - 1px);
  height: calc(100% + 4rem);
}
@media (max-width: 768px) {
  #sf-sec002 .iconsBackground {
    left: 1.5rem;
  }
  #sf-sec002 .separline:before {
    left: calc(1.5rem - 1px);
  }
  #sf-sec002 .timeline-text-content {
    margin-left: 3rem !important;
    margin-right: 0 !important;
  }
  #sf-sec002 .reverse .timeline-text-content {
    margin-right: 0 !important;
  }
}
#sf-sec003 {
  padding-top: 90px;
  padding-bottom: 90px;
}
#sf-sec003 > div.sf-overlay {
  opacity: 0.5;
  background-color: rgb(118, 118, 118);
}
#sf-sec004 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}*/